---
import Fact from "../components/Fact.astro";
import Name from "../components/Name.astro";
---

<html>
  <head>
    <title>A name and a fact</title>
  </head>
  <body>
    <h2>A name</h2>
    <Name />
    <h2>A fact</h2>
    <Fact />
  </body>
</html>
