---
import { sleep } from "../sleep";

const personResponse = await fetch("https://randomuser.me/api/");
const personData = await personResponse.json();
const randomPerson = personData.results[0];
---

<p>{randomPerson.name.first}</p>
